extends ../layout
include ../component/card-sub-home
include ../component/admin/admin-home.pug


block append head
  link(rel="stylesheet" href="/stylesheets/lib/flickity.min.css")
  link(rel="stylesheet" href="/stylesheets/components/bcd-sub-home.css")

block navigation
  +bcd-navbar("bcd-navbar","/","Cork Dashboard", "Administration")

block content
  #sub-home 
    #sub-home__grid
      #sub-home__icon
        svg()
          use(href='/images/icons/icons-48px/Tools_Icon_48px.svg#Layer_1')
      #sub-home__title
        h1 Administration
      #sub-home__carousel
        <div>
          <div class="row row-cols-1 row-cols-md-3 g-4">
            +admin-card({
              title: "Home", description:"Edit Landing page of the Cork Dashboard", linktext:"Edit Home Page", href:"admin/home"
            })
            +admin-card({
              title: "Themes", description:"Edit Themes page of the Cork Dashboard", linktext:"Edit Themes Page", href:"admin/themes"
            })
            +admin-card({
              title: "Queries", description:"Edit Queries page of the Cork Dashboard", linktext:"Edit Queries Page", href:"admin/queries"
            })
            +admin-card({
              title: "Geodemographics", description:"Edit Geodemographics page of the Cork Dashboard", linktext:"Edit Geodemographics Page", href:"admin/queries/geodemos"
            })
          </div>
        </div>
block append scripts
  script(src="./lib/flickity.pkgd.min.js" type="text/javascript")
