extends ../layout
include ../component/card-sub-home

block append head
  link(rel="stylesheet" href="/stylesheets/lib/flickity.min.css")
  link(rel="stylesheet" href="/stylesheets/components/bcd-sub-home.css")
  //- link(rel="stylesheet" href="/stylesheets/card.css")

block navigation
  +bcd-navbar("bcd-navbar","/","Cork Dashboard", "Queries")

block content
  #sub-home 
    #sub-home__grid
      #sub-home__icon
        svg()
          use(href='/images/icons/icons-48px/Queries_Icon_48px.svg#Layer_1')
      #sub-home__title
        h1 Queries
      #sub-home__description
        p Interact with maps and charts to find answers to common questions. 
      #sub-home__carousel
        .carousel(data-flickity='{ "freeScroll": true, "wrapAround": false, "freeScrollFriction": 0.05, "selectedAttraction": 0.05, "cellSelector": ".carousel-cell", "cellAlign": "left", "percentPosition": false, "pageDots": true, "adaptiveHeight": true }')
          each query in queries
            .carousel-cell
              +card-sub-home({
                title: query.title,
                description: query.description,
                links: query.links
              })

block append scripts
  //- script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.js" type="text/javascript")
  script(src="./lib/flickity.pkgd.min.js" type="text/javascript")
