mixin regions-info-card(options = {data:{}, isEditable: false})
  #regions-info__card.home__about__card
    #regions-info__card__header.header
      div(style="display: flex; align-items: center;")
        h1#local__title(style="flex: 1;")
        h1#irish__title
        if options.isEditable
          .edit-icon-wrapper(onclick=`editRegion(${JSON.stringify(options.data)})`)
            include ../../public/images/icons/admin/pencil.svg
            
    #regions-info__card__body
      p#region-info-text 
        | This will be the ultimate stuff and the content will go here

    // Add CSS for positioning and hover effect
    style.
      .header {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

      .edit-icon-wrapper {
        margin-left: 10px;
        display: flex;
        cursor: pointer;
        transition: transform 0.2s, color 0.2s;
      }

      .edit-icon-wrapper:hover {
        color: #007BFF;
      }

      // Additional CSS for .header class if needed
      .header h1#local__title {
        margin-right: 10px;
      }

  script.
    document.addEventListener('DOMContentLoaded', function() {
      initializeMap('map', 'regions-info__card', '/images/home/CorkMap_Unselected.svg', !{JSON.stringify(options.data)});
    });
  
  if options.isEditable
    script(type="module" src="/javascripts/admin/home-regions.js")
